#projects {
  padding: 15%;
  min-height: 60vh;
}
.project-card {
  background-color: var(--austronaut);
  border-radius: 20px;
  height: 300px;
}
.proj-item {
  max-width: 100%;
  position: relative;
  height: auto;
  padding: 50px;
  margin: 0 100px;
}
.proj-title {
  font-family: "NTR", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: whitesmoke;
}
.proj-duration {
  font-family: "NTR", sans-serif;
  font-size: 18px;
  color: var(--lightest-slate);
}

.proj-tech {
  font-family: "NTR", sans-serif;
  font-size: 18px;
  color: var(--green-bright);
  font-weight: bold;
}
.proj-desc {
  position: relative;
  font-size: 18px;
  font-family: "NTR", sans-serif;
  color: var(--lightest-slate);
}

.icon-link {
  padding: 20px 0px;
}
.icon-link .live-link {
  padding: 5px;
}
.icon-link .github-link {
  padding: 5px;
}
@media only screen and (max-width: 600px) {
  #projects {
    padding-left: unset;
    padding-right: unset;
  }
  .proj-title {
    font-size: 22px;
  }
  .proj-item {
    margin: 0 10px;
  }
}
